# Dependencies
node_modules/
.venv/
.*/
# Logs
logs/
*.log

# התעלמות מתיקיית הנתונים
data/ 

temp/

# Optional npm cache directory
.npm/


# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache files
.cache/
dist/





# Bun
.bun/
bun.lockb

# IDE files
.idea/
*.iml
.vscode/

# Ensure these directories are tracked
!src/
!examples/
!drafts/
# Executables
server.exe
# server/presets.json # הוסר, הקובץ עבר לתיקיית data שמתעלמים ממנה

*.tsbuildinfo
**.tsbuildinfo
**/tsconfig.tsbuildinfo
packages/dlna-core/tsconfig.tsbuildinfo
packages/server/tsconfig.tsbuildinfo
packages/wake-on-lan/tsconfig.tsbuildinfo
